<div class="container">

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" (click)="signInWithGithub()" md-raised-button>GitHub</button>
    <button type="button" (click)="signInWithGoogle()" md-raised-button>Google</button>
    <button type="button" (click)="signInWithTwiter()" md-raised-button>Twitter</button>
    <button type="button" (click)="login()" md-raised-button>login</button>
    <button type="button" (click)="overrideLogin()" md-raised-button>anonimo</button>
  </div>
</div>
